body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Arial;
  font-size: 10pt;
}

#output a, #output a:link, #output a:visited {
  color: #FFFFFF;
}

#output a:hover {
  color: #999999;
}

#window {
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px solid #000000;
  margin-left: auto;
  margin-right: auto;
  background-image: url('images/backgrounds/sea-bg.png');
}

#stats {
  width: 198px;
  height: 208px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
  overflow: auto;
}

.entity_listing {
  display: block;
  width: auto;
  height: 32px;
  border-bottom: 1px solid #000000;
  color: #000000;
  text-decoration: none;
}

.entity_listing canvas {
  border-left: 1px solid #000000;
}

.entity_listing:hover {
  background-color: #CFCFCF;
}

.entity_listing:active {
  background-color: #DFDFDF;
}

#menu_main {
  width: 300px;
  height: 62px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
}

#menu_context {
  width: 170px;
  height: 62px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
}

#map {
  float: right;
  margin-top: 10px;
  margin-right: 10px;
  background-color: #000000;
}

#output {
  position: relative;
  width: 500px;
  height: 200px;
  border: 1px solid #000000;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #000000;
  color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto;
}

#output h4 {
  text-align: center;
}