html {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  overflow: hidden;
}

body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: "Times New Roman", Serif;
  font-size: 100%;
  background-image: url('images/backgrounds/sea-bg.png');
}

#globalheader {
  margin-bottom: 0px;
}

#tray {
  position: absolute;
  bottom: -15px;
  z-index: 200;
  width: 100%;
  height: 20px;
  background-color:rgba(17,17,17,0.5);
  overflow: hidden;
  border-top: 2px solid #0090B0;
}

#tray:hover {
  bottom: 0px;
  height: auto;
}

#output a, #output a:link, #output a:visited {
  color: #FFFFFF;
}

#output a:hover {
  color: #999999;
}

#menu_side {
  width: 198px;
  height: 208px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
  overflow: auto;
}

#menu_main {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 200;
  width: 300px;
  height: 62px;
  margin-top: 10px;
  margin-left: 10px;
  float: left;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
}

#menu_context {
  width: 170px;
  height: 62px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
}

#map {
  width: 100%;
  height: 100%;
  background-color: #000000;
}

#stdout {
  width: 550px;
  height: 100px;
  border: 1px solid #000000;
  margin-top: 10px;
  margin-left: 10px;
  text-align: left;
  background-color: #300A24;
  color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto;
}

textarea.stdin {
  width: 550px;
  height: 75px;
  margin-left: 10px;
}

input.stdin {
  margin-left: 10px;
}