body {
  margin: 0px;
  padding: 0px;
  text-align: center;
  font-family: Arial;
  font-size: 10pt;
}

#output a, #output a:link, #output a:visited {
  color: #FFFFFF;
}

#output a:hover {
  color: #999999;
}

#window {
  position: relative;
  width: 500px;
  height: 300px;
  border: 1px solid #000000;
  margin-left: auto;
  margin-right: auto;
  background-image: url('images/backgrounds/sea-bg.png');
}

#menu_main {
  position: absolute;
  top: 228px;
  left: 10px;
  width: 300px;
  height: 62px;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
}

#menu_context {
  position: absolute;
  top: 228px;
  left: 320px;
  width: 170px;
  height: 62px;
  background-color: #BFBFBF;
  font-size: 7pt;
  text-align: left;
}

#party_good {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 94px;
  height: 208px;
  background-color: #A60000;
}

#party_evil {
  position: absolute;
  top: 10px;
  left: 114px;
  width: 94px;
  height: 208px;
  background-color: #A6A600;
}

#map {
  position: absolute;
  top: 10px;
  left: 218px;
  width: 272px;
  height: 208px;
  background-color: #000000;
}

#output {
  position: relative;
  width: 500px;
  height: 200px;
  border: 1px solid #000000;
  margin-top: 10px;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
  background-color: #000000;
  color: #FFFFFF;
  overflow-x: hidden;
  overflow-y: auto;
}

#output h4 {
  text-align: center;
}